psycopg2-binary~=2.9.10
streamlit~=1.45.1
folium~=0.20.0
openrouteservice~=2.3.3
python-dotenv~=1.1.0
streamlit_folium~=0.25.0
pandas~=2.2.3
requests~=2.32.3
tqdm~=4.67.1
beautifulsoup4~=4.13.4
pyproj~=3.7.1
geopandas~=1.0.1
numpy~=2.2.6
shapely~=2.1.1
requests-cache~=1.2.1
SQLAlchemy~=2.0.41
pytest~=8.3.5
GeoAlchemy2~=0.17.1
scikit-learn>=1.4
gunicorn>=21.2
maps~=5.1.1
streamlit_folium~=0.25.0
streamlit-autorefresh>=0.1
retry_requests>=2.0
ruff