#Testing
pytest

#UI
streamlit
streamlit-folium
folium
openrouteservice

#sraper
requests>=2.31
beautifulsoup4>=4.12
tqdm>=4.66
openmeteo-requests>=1.5
requests-cache>=1.2
retry-requests>=2.0

# GeoDataProcessing
geopandas
pandas
pyproj

#Datastructures
rtree
psycopg2-binary

python-dotenv